.footer-container {
  width: 100%;
  background-color: transparent;
  color: dimgray;
  text-align: center;
  padding: 6px 0;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-content {
  margin: 0 auto;
  padding: 5px;
}

.footer-links {
  margin-top: 5px;
}

  .footer-links a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
  }

    .footer-links a:hover {
      color: blue;
      text-decoration: underline;
    }
