<div class="dashboard-container">
  <h1>Insights</h1>
  <div *ngIf="singleValueProperties.length > 0" class="single-value-grid">
    <div class="single-value-item" *ngFor="let prop of singleValueProperties">
      <div class="circle" [style.background]="colorScheme.domain[singleValueProperties.indexOf(prop) % colorScheme.domain.length]">
        <p class="value">{{ prop.value }}</p>
      </div>
      <p class="label">{{ prop.key }}</p>
    </div>
    <hr />
  </div>
  <div *ngIf="chartData.length > 0" class="chart-grid">
    <div *ngFor="let data of chartData" class="chart-item">
      <ng-container [ngSwitch]="data.chartType">
        <ngx-charts-bar-vertical *ngSwitchCase="'bar-vertical'"
                                 [view]="[400, 300]"
                                 [scheme]="colorScheme"
                                 [results]="data.value"
                                 [xAxis]="true"
                                 [yAxis]="true"
                                 [legend]="true"
                                 [showXAxisLabel]="true"
                                 [showYAxisLabel]="true"
                                 xAxisLabel="{{ data.name }}"
                                 yAxisLabel="Value">
        </ngx-charts-bar-vertical>
        <ngx-charts-pie-chart *ngSwitchCase="'pie-chart'"
                              [view]="[400, 300]"
                              [scheme]="colorScheme"
                              [results]="data.value"
                              [legend]="true"
                              [labels]="true">
        </ngx-charts-pie-chart>
      </ng-container>
    </div>
  </div>
</div>
